    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <image class="img-fluid" src="img/footer.png" alt="logo"></image>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h6><b>&copy; COPY RIGHT FIT-HCMUS LIBRARY. THIẾT KẾ BỞI NHÓM 06 MÔN LTUDW</b></h6>
                </div>
            </div>
        </div>
    </footer>
