    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="menu-bar">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" href="#">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <image id="logo-image" src="img/logo-fit.jpg" alt="logo">
                                        </div>
                                        <div class="col-7 logo-title">
                                            <p>KHOA CÔNG NGHỆ THÔNG TIN</p>
                                            <p>TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN</p>
                                            <p>THƯ VIỆN</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Dịch vụ </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tìm sách </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Liên hệ </a>
                            </li>
                            </ul>
                            <form class="form-inline">
                                <button id="username-btn" class="btn btn-default" type="button"
                                    onclick="location.href='pages/login.html'" style="width:auto;">
                                    <i class="fa fa-user" aria-hidden="true"></i> ĐĂNG NHẬP
                                </button>
                            </form>
                        </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>