.row{
    height: 100% !important;
    margin: 10% auto !important;
}
.btn-outline-light{
    border-color: lightgray !important;
}
.info{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}