<!DOCTYPE html>
<html lang="en">
<head>
    <title>FIT Library Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="{{css}}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <div id="login-form" class="modal">
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="container">
                <h2>Đăng nhập</h2>
                <label for="uname"><b>Tài khoản</b></label>
                <input id="txt-name" type="text" placeholder="Nhập tài khoản" name="uname" required>
                <label for="psw"><b>Mật khẩu</b></label>
                <input id="txt-pass" type="password" placeholder="Nhập mật khẩu" name="psw" required>
                <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <button id="login-btn" type="submit" onclick="return updateUser()">Login</button>
                <p>Quên <a href="pages/forget-password.html">Tài khoản/ Mật khẩu?</a></p>
                <p>Tạo tài khoản mới? <a href="pages/Resigter.html">Đăng ký</a></p>
            </div>
        </form>
    </div>

    <script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function updateUser() {
            var username = $("#txt-name").val();
            var password = $("#txt-pass").val();
            if(username!="" && password!="")
            {
                localStorage.setItem('username', username);
                window.location.href = 'account-index.html';
                return false;
            }
            return true;
        }
    </script>
</body>
</html>