    <div class="page-address">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><i class="fa fa-home"></i> <a href="/"> Trang chủ \ </a>
                    <a href="#"> Tài khoản admin \ </a> <a class="active" href="#"> Thêm chủ đề</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>THÊM CHỦ ĐỀ</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 title">
                                <h5>Thông tin chủ đề</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Tên chủ đề:</label>
                                <input class="form-control" type="text" id="inputName" placeholder="Mạng máy tính" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button id="submit-btn" type="submit" class="btn btn-primary">Tạo mới</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>