    <div class="page-address">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <p><i class="fa fa-home"></i> <a href="/"> Trang chủ \ </a>
                          <a href="#"> Tìm kiếm \ </a> <a class="active" href="#"> Xem sách</a></p>
                      </div>
                  </div>
              </div>
          </div>
        <div class="container-fluid" style="width: 85%;">
            <div class ="row justify-content-around" style="width: 100% !important; margin: 1% auto;">
                <div class ="col-9" style="background-color: white; padding-bottom: 0.5%; border-radius: 15px; margin-left: 4%;">
                    <div class="row bookRow justify-content-around">
                        <div class="col-2 picBook">
                            <img src="img/Book.jpeg" class="rounded" alt="This is a book" height= "250" width="200">
                        </div>
                        <div class="col-9">
                            <h3 id="header" style="color: lightblue;">HTML & CSS</h3>
                            <div class="detail">
                            <div>
                                <h5>Tác giả:</h5>
                                <h5>Xuất bản:</h5>
                                <h5>Mô tả vật lý:</h5>
                                <h5>Chủ đề:</h5>
                                <h5>Ký hiệu giá sách:</h5>
                            </div>
                            <div class="info">
                                <h5><a href="#">Trịnh Thái Bình</a></h5>
                                <h5><a href="#">22.03.1999</a></h5>
                                <h5>223tr</h5>
                                <h5>Kĩ nghệ phần mềm</h5>
                                </h5><a href="#">KNPM</a></h5>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row bookRow">
                        <h3 id="header" style="color: lightblue;" >Thông tin phân phối</h3>
                    </div>
                    <div class="row myRow">
                            <span class="badge badge-pill badge-success">Tổng cộng: 100</span>
                            <span class="badge badge-pill badge-primary">Sẵn có: 95</span>
                            <span class="badge badge-pill badge-danger">Đã mượn: 5</span>
                    </div>
                    <div class="listBook">
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Mã sách</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col">Vị trí</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Đã mượn</td>
                            <td>KHMT1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Sẵn có</td>
                            <td>KHMT1</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Đã mượn</td>
                            <td>KHMT1</td>
                          </tr>
                          <tr>
                                <th scope="row">4</th>
                                <td>Đã mượn</td>
                                <td>KHMT1</td>
                            </tr>
                         
                        </tbody>
                      </table>
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-label="Previous" aria-disabled="true">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                </div>
                <div class="col-2 " style="background-color: white; padding-bottom: 0.5%; border-radius: 15px;">
                    <div>
                        <h3 id="header" style="color: lightblue; border-bottom: none; margin: 7px auto;">Chủ đề</h3>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Mạng máy tính
                                      <span class="badge badge-primary badge-pill">14</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Khoa học máy tính
                                      <span class="badge badge-primary badge-pill">2</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Lập trình
                                      <span class="badge badge-primary badge-pill">1</span>
                                    </li>
                                    <li class="list-group-item" style="color: blue;" ><a href="#">Đọc thêm</a></li>
                        </ul>
                    </div>
                    <div>
                    <h3 id="header" style="color: lightblue;">Mượn nhiều</h3>
                    <div class="mostBorrowed">
                            <div class="card">
                                <img class="card-img-center" src="img/Hide-24.png" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-center" src="img/Hide-24.png" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-center" src="img/Hide-24.png" alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                            <img class="card-img-center" src="img/Hide-24.png" alt="Card image cap">
                                            <div class="card-body">
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                    </div>
                </div>
                <div>
                    <h3 id="header" style="color: lightblue;">Từ khóa</h3>
                    <div class="row justify-content-around">
                        <div class ="row">
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                        </div>
                        <div class ="row">
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                        </div>
                        <div class ="row">
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                            <button type="button" class="btn btn-light">Tag text</button>
                        </div> 
                      </div>
                </div>
                </div>
            </div>
        </div>