  <div class="page-address">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <p><i class="fa fa-home"></i> <a href="/"> Trang chủ \ </a>
                          <a href="#"> Tài khoản admin \ </a> <a class="active" href="#"> Cấu hình rule</a></p>
                      </div>
                  </div>
              </div>
          </div>
 <div class="container-fluid"style="width: 80%;">
            <div class="row" style="margin: 1% auto">
                <div class="col-12" style="padding-left:40px; padding-right:40px;">
                    <h1>CẤU HÌNH RULE</h1>
                    <hr>
                </div>
            </div>
            <div class="boxConfig">
                <h5 style=" border-bottom: solid rgb(228, 227, 227); padding: 1% 1%;">Thông tin cấu hình</h5>
                <div style="margin-top: 3%;">
                    <label>Số ngày mượn tối đa</label>
                    <input class="form-control" type="number" id="MaxDays" placeholder="Số ngày mượn tối đa" required>
                </div>
                <div style="margin-top: 2%;">
                    <label>Số ngày gia hạn tối đa</label>
                    <input class="form-control" type="number" id="MaxExtension" placeholder="Số ngày gia hạn tối đa"required>
                </div>
                <div style="margin-top: 2%;">
                    <label>Số sách mượn tối đa</label>
                    <input class="form-control" type="number" id="MaxBooks" placeholder="Số sách mượn tối đa" required>
                </div>
                <div style="margin-top: 2%;">
                    <label>Chương trình</label>
                    <input class="form-control" type="text" id="Program" placeholder="Chương trình" required>
                </div>
                <button class="btn btn-primary w-25" id="but" type="submit" style="margin-top: 1%">CẤU HÌNH</button>
            </div>
        </div>