    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="info">
                    <h3>Quên mật khẩu?</h3>
                        <div>
                            <label>Nhập email liên kết với tài khoản</label>
                            <input class="form-control" type="email" id="inputEmail" placeholder="Email sinh viên, giảng viên" required>
                        </div>
                        <button id="confirm-btn" class="btn btn-primary" type="submit">Gửi link xác nhận</button>
                    </div>
                        </div>
            <div class="col">
                <img src="public/img/Register.png" alt="Resigter">
            </div>
        </div>
    </div>