    <div class="page-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>MEMBER DASHBOARD</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class=col-12>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3 frame">
                    <img src="../img/book-icon1.png" id="book-icon" alt="book icon">
                    <p>Số sách đã mượn</p>
                    <h5>5</h5>
                </div>
                <div class="col-2"></div>
                <div class="col-3 frame">
                    <img src="../img/book-icon2.png" id="book-icon" alt="book icon">
                    <p>Số sách chưa trả</p>
                    <h5>2</h5>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>