    <div class="page-address">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p><i class="fa fa-home"></i> <a href="../../account-index.html"> Trang chủ \ </a>
                    <a href="#"> Tài khoản member \ </a> <a class="active" href="#"> Dashboard</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>MEMBER DASHBOARD</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class=col-12>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-3 frame">
                    <img src="../../img/book-icon1.png" alt="book icon">
                    <p>Số sách đã mượn</p>
                    <h5>5</h5>
                </div>
                <div class="col-2"></div>
                <div class="col-3 frame">
                    <img src="../../img/book-icon2.png" alt="book icon">
                    <p>Số sách chưa trả</p>
                    <h5>2</h5>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>