 <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="info">
                        <h3>Đăng ký tài khoản</h3>
                        <div>
                            <label>Tên</label>
                            <input class="form-control" type="text" id="inputFName" placeholder="Tên" required>
                        </div>
                        <div>
                            <label>Họ</label>
                            <input class="form-control" type="text" id="inputLName" placeholder="Họ"required>
                        </div>
                        <div>
                            <label>Email</label>
                            <input class="form-control" type="text" id="inputEmail" placeholder="Email" required>
                        </div>
                        <div>
                            <label>Mật khẩu</label>
                            <div class="input-group">
                                <input class="form-control" type="password" id="inputPassword" placeholder="Mật khẩu" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-light"><img src="public/img/Hide-24.png" alt=""></img></button>
                                </div>
                            </div>
                        </div>
                        <label> <input type="checkbox" checked="checked" name="remember">   
                            Tôi đã đọc và đồng ý với<a href="#" style="color:rgb(65, 157, 250)"> Điều khoản</a>.
                        </label>
                        <button type="submit" class="btn btn-primary" onclick="onClick()">Đăng ký</button>
                    </div>
                </div>
                <div class="col">
                    <img src="public/img/Register.png" alt="Resigter">
                </div>
            </div>
        </div>