<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tìm kiếm</li>
        </ol>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>TRA CỨU SÁCH TRỰC TUYẾN</h3>
            <hr>
            <div class="form-group form-row">
                <select class="col-md-2 form-control" id="select-search">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input class="col-md-8 form-control" type="text" placeholder="Tên sách">
                <button type="submit" class="btn btn-primary col-md-2">Tìm kiếm
                    <i class="fas fa-search text-white" aria-hidden="true">
                </button>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>