.row{
    height: 100%;
    margin: 10% auto;
}

.btn-outline-light{
    border-color: lightgray;
}

.info{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#login-btn, #register-btn {
    width: 100%;
}