.search{
    border: 1px solid #333333;
    padding: 5px 10px 5px 150px;
    border-radius: 20px;
    border-color: #D5D5D5;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
#header{
    padding: 1% 2%;
    border-bottom: solid black;
    width: 100%;
}
.dash{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dropdown{
    width: 12.4%;
}
.boxBook{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: solid rgb(228, 227, 227);
}
.info{
    width: 100%;
    padding: 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myRow{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

#menu-btn {
    top: 1%;
    left: 1%;
    position: absolute;
    color: darkblue ;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3399ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: darkblue;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}