body{
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
#header{
    padding: 1% 2%;
    border-bottom: solid black;
    width: 100%;
}
.dash{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dropdown{
    width: 12.4%;
}
.boxPost{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: solid rgb(228, 227, 227);
}
#but {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
#but:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
  }