
header {
    padding: 10px 0;
}

header .container {
    border: 2px solid black;
}

header .logo-title
{
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 5%;
}

header .menu-bar {
    padding-top: 10px;
}

header .login-btn {
    padding-top: 20px;
}

.header-body .container {
    padding: 100px 0;
    background: url(img/bg-home.png);
}

.header-body .container .container {
    padding: 0 0;
}

.header-body .container .container .col-10 {
    background: #87CEFA;
}

.search-links p {
    font-weight: bold;
}

.search-links a {
    color: white;
}

.carousel-body, .schedule, .news, .new-books, .book-topics {
    padding-top: 30px;
}

.carousel-body img {
    width: auto; 
    height: 450px;
}

.schedule .row {
    border: 1px solid #A9A9A9;
}

.schedule .col-2 {
    background: #E6E6FA;
}

.news #news-ele, .new-books #news-ele, .book-topics #news-ele {
    color: black
}

footer image {
    border: transparent;
}

footer {
    margin-top: 30px;
    background: #18478B;
}

footer h6 {
    color: white;
}

#login-form h2, #login-form p {
    text-align: center;
}

#login-form input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-form input[checkbox], #login-btn {
    display: block;
    margin-bottom: 10px;
}

#login-form .container {
    padding: 5% 30%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
}
  
#login-form .modal-content {
    background-color: #fefefe;
    margin: 4% 28% 15% 28%;
    border: 1px solid #888;
    width: 44%;
}